{% extends 'SoporteHAWebapp/base.html' %}
{% load  static %} 

{% block contenidopagina %}
<br>
<h1 style="text-align: center;"><b>Publicaciones</b></h1>
<br>
<hr style="width: 25%; margin: auto;">
<br>
<br>

<div class="row gx-5"> 
    {%for publicacion in blogg%}
        <div class="col-lg-3 mb-5">            
            <div class="card h-100 shadow border-0">
                <img class="card-img-top" src="{{publicacion.imagenone.url}}" alt="..." style="max-width: 300px; max-height: 300px; height: auto; width: auto; align-self: center;"/>
                <div class="card-body p-4">
                    <div class="badge bg-primary bg-gradient rounded-pill mb-2">{{publicacion.titulo}}</div>
                    <p class="card-text mb-0">{{publicacion.descripcion|slice:200|safe}}...</p>
                    <br>
                    <p class="card-text mb-0" style="color: grey;">Creado por: <i>{{publicacion.autor}}</i></p>
                    <p class="card-text mb-0" style="color: grey;">Fecha: <i>{{publicacion.fecha}}</i></p>
                    <br>

                    <a class="btn btn-primary btn-lg px-4 me-sm-3" href="{% url 'ver_publicacion' publicacion.id %}">Ver</a>
                    
                    </div>
                </div>                                
            </div>
        </div>
    {%endfor%}                            
</div>
{%endblock%}

