{% extends 'SoporteHAWebapp/base.html' %}
{% load  static %} 

{% block contenidopagina %}

<h1 class="mt-4">INSTRUCTIVOS FINALIZADOS</h1>

                    <p>Leer Instructivo</p>
                    <p>
                        Circuito nuevos ingresos HA.
                        <a href=https://drive.google.com/drive/folders/0B34UevUJXOjcfmVRSUt2UUpyUF9FS2NYUzVsYUFET3pvSmpjQnBDWnZJdEQxVDZYRmNMUjA?resourcekey=0-edwVkbOkV3sHkvMvyPwlwA
                        target=_blank>Cisco</a>
                    </p>
                    <p>
                        Circuito permisos adicionales.
                        <a href=https://drive.google.com/drive/folders/0B34UevUJXOjcfmVRSUt2UUpyUF9FS2NYUzVsYUFET3pvSmpjQnBDWnZJdEQxVDZYRmNMUjA?resourcekey=0-edwVkbOkV3sHkvMvyPwlwA
                        target=_blank>Cisco</a>
                    </p>
                    <p>
                        Mail permisos adicionales.
                        <a href=https://drive.google.com/file/d/1fB2V-2aIHKDgUfKxciLr4ZUQh7S3rarg/view
                        target=_blank>Tecnovoz</a>
                    </p>
                    <p>
                        Autogestion de contraseña.
                        <a href=https://drive.google.com/drive/folders/0B34UevUJXOjcfmVRSUt2UUpyUF9FS2NYUzVsYUFET3pvSmpjQnBDWnZJdEQxVDZYRmNMUjA?resourcekey=0-edwVkbOkV3sHkvMvyPwlwA
                        target=_blank>Cisco</a>
                    </p>
                    <p>
                        Circuito nuevos ingresos HA.
                        <a href=https://drive.google.com/drive/folders/0B34UevUJXOjcfmVRSUt2UUpyUF9FS2NYUzVsYUFET3pvSmpjQnBDWnZJdEQxVDZYRmNMUjA?resourcekey=0-edwVkbOkV3sHkvMvyPwlwA
                        target=_blank>Cisco</a>
                    </p>
{% endblock %}