{% extends 'SoporteHAWebapp/base.html' %}
{% load  static %} 

{% block contenidopagina %}

<div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">LINK Cisco ( VPN)</h5>
          <p class="card-text">Programa para poder conectarte a una red viertualizada</p>
          <a href=https://drive.google.com/drive/folders/0B34UevUJXOjcfmVRSUt2UUpyUF9FS2NYUzVsYUFET3pvSmpjQnBDWnZJdEQxVDZYRmNMUjA?resourcekey=0-edwVkbOkV3sHkvMvyPwlwA
          target=_blank class="btn btn-primary">LINK</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">LINK Tecnovoz</h5>
          <p class="card-text">Herramienta para la atencion telefonica</p>
          <a href=https://drive.google.com/file/d/1fB2V-2aIHKDgUfKxciLr4ZUQh7S3rarg/view
          target=_blank class="btn btn-primary">LINK</a>
        </div>
      </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">TERCER </h5>
          <p class="card-text">COMMENT</p>
          <a href="#" class="btn btn-danger">LINK</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">CUARTO</h5>
          <p class="card-text">COMMENT</p>
          <a href="#" class="btn btn-danger">LINK</a>
        </div>
      </div>
    </div>
</div>

{% endblock %}